body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
    margin: 0;
  }
  h2{
    position:absolute;
    top:10px;
    left:50%;
    transform: translateX(-50%);
  }
  .clk {
    text-align: center;
    height: 120px;
    width: 300px;
    border-radius: 20px;
    background-color: orange;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
  }